[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aniso8601 = "*"
bidict = "*"
click = "*"
dnspython = "*"
eventlet = "*"
flask = "*"
flask-marshmallow = "*"
flask-restful = "*"
flask-socketio = "*"
flask-sqlalchemy = "*"
greenlet = "*"
itsdangerous = "*"
jinja2 = "*"
markupsafe = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
python-engineio = "*"
python-socketio = "*"
pytz = "*"
six = "*"
sqlalchemy = "*"
werkzeug = "*"

[dev-packages]
coverage = {extras = ["toml"], version = "*"}
faker = "*"
ipython = "*"
jeopardy = {editable = true, path = "."}
requests = "*"
playwright = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
