<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ game_name }} - Python/WebSocket Trivia!</title>
    {% include "scripts.html" %}

</head>

<body>
                {% include "header.html" %}
                <div class="jumbotron">
                    <h2>
                        Uh oh! An error occurred... Try one of the options below, and maybe it'll work this time.
                        Otherwise, come back later!
                    </h2>
                    <hr>
                    <h5>
                        {{ error_code }}
                    </h5>
                    <hr>
                    <p>
                        <a class="btn btn-primary btn-large" href="/new">Start a New Game!</a>
                        <a class="btn btn-primary btn-large" href="/join">Join a Game!</a>
                    </p>
                </div>
</body>

</html>