<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ game_name }} - Python/WebSocket Trivia!</title>
        {% include "scripts_meta.html" %}
    </head>

    <body>
        {% include "header.html" %}
        <div class="jumbotron">
            <h2>Welcome to {{ game_name }}!</h2>
            <hr />
            <div class="container">
                <div class="row">
                    <a class="btn btn-primary btn-large col spaced" href="/new">Start a New Game!</a>
                    <a class="btn btn-success btn-large col spaced" href="/join">Join a Game!</a>
                </div>
            </div>
        </div>
    </body>
</html>
