<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<!--SWITCH COMMENTING, AS NEEDED, FOR DEPLOYMENT!-->

{# <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" crossorigin="anonymous">
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.slim.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='socket.io.js') }}"></script> #}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>


<link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" crossorigin="anonymous">

<script type="text/javascript">
    function manageModal({
        action,
        modal_id = '#master-modal',
        updates = false
    }) {
        if (!(updates === false)) {
            for (var item in updates) {
                if (item != "displayedInModal") {
                    document.getElementById(item).innerHTML = updates[item];
                }
            };

            if ('displayedInModal' in updates) {
                displayedInModal = updates['displayedInModal'];
                action = 'show';
            }
        }


        if (action == 'show') {
            $(displayedInModal).css("display", "block");

            $(modal_id).modal({
                focus: true,
                backdrop: 'static',
                keyboard: false,
            }, 'show');
        } else if (action == 'hide') {
            $(modal_id).modal('hide');

            $(displayedInModal).css("display", "none");
        }

    };
</script>


<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-32x32.png') }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon-16x16.png') }}" sizes="16x32" />
