<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ game_name }} - Python/WebSocket Trivia!</title>

    {% include "scripts_meta.html" %}
    <script>
        function setIFrames() {
            urls = [
                window.location.origin + '/host?room={{ room }}',
                window.location.origin + '/play?room={{ room }}&name=Alex',
                window.location.origin + '/play?room={{ room }}&name=Brad',
                window.location.origin + '/play?room={{ room }}&name=Carl',
                window.location.origin + '/board?room={{ room }}',
            ]

            for (const x of Array(5).keys()) {
                document.getElementById(x).src = urls[x];
            }
        }
        window.onload = setIFrames;
    </script>

</head>

<body>
    <iframe id="0"
      style="width: calc(25vw - 8px); height: calc( 50vh - 10px); overflow: hidden; border:1px solid #000;" src=""
      scrolling="yes">Iframes not supported</iframe>
    <iframe id="1"
      style="width: calc(25vw - 8px); height: calc( 50vh - 10px); overflow: hidden; border:1px solid #000;" src=""
      scrolling="yes">Iframes not supported</iframe>
    <iframe id="2"
      style="width: calc(25vw - 8px); height: calc( 50vh - 10px); overflow: hidden; border:1px solid #000;" src=""
      scrolling="yes">Iframes not supported</iframe>
    <iframe id="3"
      style="width: calc(25vw - 8px); height: calc( 50vh - 10px); overflow: hidden; border:1px solid #000;" src=""
      scrolling="yes">Iframes not supported</iframe>
    <iframe id="4" style="width: 100%; height: calc( 50vh - 10px); overflow: hidden; border:1px solid #000;" src=""
      scrolling="yes">Iframes not supported</iframe>

</body>
