<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ game_name }} - Python/WebSocket Trivia!</title>

    {% include "scripts.html" %}
    <script>
        var socket = io('http://' + document.domain + ':' + location.port);

        var type = 'board';
    </script>


</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% include "header.html" %}
                <div class="jumbotron card card-block">
                    <h2>
                        Let's Play {{ game.round_text() }}
                    </h2>
                    {% if game.round <= 2 %}
                    <table class="table">
                        <tr>
                            {% for name in game.board.categories %}
                            <th style="width: {{ 100 // game.size }}%; text-align: center;">
                                <h5>
                                    {{ name.category }}
                                </h5>
                            </th>
                            {% endfor %}
                        </tr>
                        {% for category in game.html_board() %}
                        <tr>
                            {% for answer in category %}
                            <td>
                                <button class="btn btn-block btn-primary {% if answer.shown %}disabled{% endif %}"
                                    id="q_{{ answer.id() }}">
                                    {{ currency }}{{ answer.value }}
                                </button>
                            </td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                    <br>
                    {% elif game.round > 2 %}
                    <div>
                        <hr>
                        <h3>
                            The category is:
                        </h3>
                        <h4 style="padding-left: 25px">{{ game.board.categories[0].category }}</h4>
                    </div>
                    {% endif %}
                    <hr>
                    <table class="table" style="width: 100%;" id="score_board">
                        <h4>
                            Scores!
                        </h4>
                        <tr id='players'>
                            {% for name in game.score.keys() %}
                            <th style="text-align: center;">
                                {{ name }}
                            </th>
                            {% endfor %}
                        </tr>
                        <tr id='scores'>
                            {% for name in game.score.keys() %}
                            <td style="text-align: center;">
                                <span>{{ currency }}</span>
                                <span id="{{ name }}_score">{{ game.score[name] }}</span>
                            </td>
                            {% endfor %}
                        </tr>
                    </table>
                    <div class="modal fade" id="master-modal" tabindex="-1" role="dialog"
                        aria-labelledby="master-modal-holder" aria-hidden="true" data-keyboard="false"
                        data-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content" id="standard_set" style="display: none;">
                                <div class="modal-custom">Answer:</div>
                                <div class="modal-body" id="answer"></div>
                            </div>
                            <div class="modal-content" id="wager_round" style="display: none;">
                                <div class="modal-header">
                                    <h2 class="modal-title centered">{{ game.heading() }}</h2>
                                </div>
                                <div class="modal-body">
                                    <div class="card-group">
                                        <div class="card" id="wager_2" style="display: none;">
                                            <div class="card-body">
                                                <div class="card-title d-flex justify-content-between">
                                                    <h3><span>Answer:</span></h3>
                                                    <h3></h3>
                                                </div>
                                                <hr>
                                                <div id="wager_answer" class="card-text smaller"></div>
                                            </div>
                                        </div>
                                        <div class="card" id="final_reveal" style="display: none;">
                                            <div class="card-body">
                                                <div class="card-title d-flex justify-content-between">
                                                    <h3 id="player"></h3>
                                                    <h3>{{ currency }}<span id="score"></span></h3>
                                                </div>
                                                <hr>
                                                <div class="card-text">Their response:</div>
                                                <div class="card-text" id="question" style="font-weight: bold;">
                                                </div>
                                                <div style="display: none;" id="wagering">
                                                    <hr>
                                                    <div class="card-text">They wagered <span
                                                            style="font-weight: bold;">{{ currency }}<span
                                                                id="amount"></span></span></div>
                                                    <hr>
                                                    <div class="card-text">Leaving them with a final score of:</div>
                                                    <div class="card-text" style="font-weight: bold;">
                                                        {{ currency }}<span id="final_score"></span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-content" id="round_transition" style="display: none;">
                                <div class="modal-custom">Round Complete!</div>
                                <div class="modal-body">
                                    Congratulations on finishing <span id="current_round"></span> Are you ready to
                                    start <span id="next_round"></span>?
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                var displayedInModal = null;

                socket.on('add_player_to_board-s>b', function (message) {
                    $('#players').append('<th style="text-align: center;">' + message['player'] + '</th>');
                    $('#scores').append('<td style="text-align: center;"><span>{{ currency }}</span><span id="' + message['player'] + '_score">0</span></td>');
                })

                socket.on('reveal_standard_set-s>bh', function (message) {
                    $(message['identifier']).addClass('disabled');

                    displayedInModal = '#standard_set';

                    manageModal({ action: 'show', updates: message['updates'] });
                });

                socket.on('start_wager_round-s>bh', function (message) {
                    displayedInModal = '#wager_round';

                    manageModal({ action: 'show' });
                });

                socket.on('reveal_wager-s>bh', function (message) {
                    manageModal({ action: 'none', updates: message['updates'] });

                    $('#wager_2').toggle();

                });

                socket.on('clear_modal-s>bh', function (message) {
                    $('#player').text('');

                    manageModal({ action: 'hide' });
                });

                socket.on('update_scores-s>bph', function (message) {
                    for (player in message['scores']) {
                        $('#' + player + '_score').text(message['scores'][player]);

                        console.log(player);

                        if (player = $("#player").text()) {
                            $('#final_score').text(message['scores'][player]);

                            $('#wagering').toggle();
                        };
                    };
                });

                socket.on('round_complete-s>bh', function (message) {
                    displayedInModal = '#round_transition';

                    manageModal({ action: 'show', updates: message['updates'] });
                });

                socket.on('next_round_started-s>bh', function (message) {
                    $("<form method='POST' action='" + document.URL + "'><input type='hidden' name='room' value='{{ game.room }}'/></form>").appendTo("body").submit();
                });

                socket.on('results-page-s>bph', function (message) {
                    $("<form method='POST' action='" + window.location.origin + "/results'><input type='hidden' name='room' value='{{ game.room }}'/><input type='hidden' name='type' value='" + type + "'/></form>").appendTo("body").submit();
                });

                socket.on('display_final_response-s>bph', function (message) {
                    $('#wagering').hide();
                    displayedInModal = '#final_reveal';

                    manageModal({ action: 'show', updates: message['updates'] });
                });


            </script>
        </div>
</body>

</html>