<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ copyright_protection }} - Python/WebSocket Trivia!</title>

    {% include "scripts.html" %}

  </head>
  <body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% include "header.html" %}
            <div class="jumbotron card card-block">
                <h2>
                    Let's Play {{ game.round_text() }}
                </h2>
                <table class="table">
                    <tr>
                        {% for name in game.board.categories %}
                            <th style="width: 16.667%; text-align: center;">
                                <h5>
                                    {{ name.category }}
                                </h5>
                            </th>
                        {% endfor %}
                    </tr>
                    {% for category in game.html_board() %}
                        <tr>
                            {% for question in category %}
                            <td>
                                <button class="btn btn-block btn-primary {% if question.shown %}disabled{% endif %}" id="{{ question.id() }}">
                                    {{ currency }}{{ question.value }}
                                </button>
                            </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <br>
                <table class="table" style="width: 100%;">
                    <h4>
                        Scores!
                    </h4>
                    <tr>
                        {% for name in game.score.keys() %}
                            <th style="text-align: center;">
                                {{ name }}
                            </th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for name in game.score.keys() %}
                            <td style="text-align: center;">
                                {{ currency }}{{ game.score[name] }}
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>