<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ game_name }} - Python/WebSocket Trivia!</title>

    {% include "scripts.html" %}
    <script>
        var socket = io('http://' + document.domain + ':' + location.port);

        var type = 'host';
    </script>

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% include "header.html" %}
                <div class="jumbotron card card-block">
                    <h2>
                        Time to be a Host!
                    </h2>
                    <hr>
                    {% if game.round <= 2 %}
                    <!-- Section loaded for the first two rounds. (Regular and Double) -->
                    <div id="categories">
                        <div class="btn-group-vertical role=" group>
                            {% for name in game.board.categories %}
                            <div class="btn-group dropright" role="group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                    id="c_{{ name.index }}" aria-haspopup="true" aria-expanded="false">
                                    {{ name.category }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="c_{{ name.index }}">
                                    {% for question in name.questions %}
                                    <button
                                        class="dropdown-item show-question {% if question.shown %}disabled{% endif %}"
                                        type="button" id="q_{{ question.id() }}">
                                        {{ currency }}{{ question.value }}
                                    </button>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    <!-- Section loaded for the wagering rounds. (Final and Tiebreaker) -->
                    <div>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group" id="wagerers">
                                {% for name in game.score.keys() %}
                                <button class="btn btn-danger wager_names" id="{{ name }}_wagered">{{ name }}</button>
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                            <hr>
                            <h4>
                                CATEGORY:
                            </h4>
                            <h5 style="padding-left: 25px">{{ game.board.categories[0].category }}</h5>
                            <div id='final_question_answer_reveal' class="collapse">
                                <hr>
                                <h4>
                                    QUESTION:
                                </h4>
                                <h5 style="padding-left: 25px">{{ game.board.categories[0].questions[0].question }}</h5>
                                <hr>
                                <h4>
                                    ANSWER:
                                    </h3>
                                    <h5 style="padding-left: 25px">{{ game.board.categories[0].questions[0].answer }}
                                    </h5>
                                </h4>
                            </div>
                            <hr>
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group mr-2" role="group">
                                    <button class="btn btn-success" id="get_wagers">Prompt for Wagers</button>
                                </div>
                                <div class="btn-group mr-2" role="group">
                                    <button class="btn btn-success disabled" id="reveal_question">Reveal
                                        Question</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <div class="modal fade" id="master-modal" tabindex="-1" role="dialog"
                        aria-labelledby="master-modal-holder" aria-hidden="true" data-keyboard="false"
                        data-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" id="standard_question" style="display: none;">
                                <div id="modal-text">
                                    <div class="modal-custom">Question:</div>
                                    <div class="modal-body" id="question"></div>
                                    <div class="modal-custom">Answer:</div>
                                    <div class="modal-body" id="answer"></div>
                                </div>
                                <div class="modal-footer" id="question_footer">
                                    <div class="btn-toolbar" role="toolbar">
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-light disabled mr-auto"
                                                id="player">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                            <button class="btn btn-success disabled mr-auto"
                                                id="correct_answer">Correct!</button>
                                            <button class="btn btn-danger disabled mr-auto"
                                                id="incorrect_answer">Incorrect</button>
                                            <button class="btn btn-dark mr-auto" id="finished_reading">Finished
                                                Reading!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-content" id="wager-start" style="display: none;">
                                <div class="modal-text">
                                    <div class="modal-custom">{% if game.round < 3 %}Daily Double!{% else %}Welcome to Jeopardy!{% endif %}</div>
                                    <div class="modal-custom small">{% if game.round < 3 %}Who chose the category?{% else %}Please 
                                        read out the category, then press the \'Press for Wagers\' button below!{% endif%}</div>
                                    <div class="btn-toolbar" role="toolbar" style="padding: 16px;">
                                        <div class="btn-group" role="group" id="players">
                                        </div>
                                    </div>
                                    <div class="modal-custom" id="wager_1" style="display: none;">
                                        <div>Question:</div>
                                        <div id="wager_question"></div>
                                    </div>
                                    <div class="modal-custom" id="wager_2" style="display: none;">
                                        <div>Answer:</div>
                                        <div id="wager_answer"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="btn-toolbar" role="toolbar">
                                            <div class="btn-group" role="group" id='wager_footer'>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-content" id="round_transition" style="display: none;">
                                <div id="modal-text">
                                    <div class="modal-custom">Round Complete!</div>
                                    <div class="modal-body">
                                        Congratulations on finishing <span id="current_round"></span>! Are you ready to
                                        start <span id="next_round"></span>?!
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-success mr-auto" id="start_next_round">Start the next
                                        round!</button>
                                </div>
                            </div>
                            <div class="modal-content" id="final_reveal" style="display: none;">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="wager-category-modal-holder"><span id="category"></span>
                                    </h3>
                                </div>
                                <div class="modal-body">
                                    <h4 id="wager_clue"></h4>
                                    <table>
                                        <tr>
                                            <th>
                                                <span id="wager_round_name"></span> has wagered:
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>
                                                {{ currency }} <span id="wager_round_amount"></span>
                                            </td>
                                        </tr>
                                    </table>
                                    <br>
                                    <table class="collapse" id="wager_answer_holder">
                                        <tr>
                                            <th>
                                                Answer:
                                            </th>
                                        </tr>
                                        <tr>
                                            <td id="wager_round_answer">
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="modal-footer" id="question_footer">
                                    <div class="btn-toolbar" role="toolbar">
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-warning mr-auto" id="reveal_answer">Reveal
                                                Answer!</button>
                                            <button class="btn btn-success disabled mr-auto"
                                                id="correct_wager">Correct!</button>
                                            <button class="btn btn-danger disabled mr-auto"
                                                id="incorrect_wager">Incorrect</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var displayedInModal = null;

        $('button').click(function (event) {
            if (!this.className.includes('disabled')) {
                if (this.className.includes('show-question')) {
                    $('#' + this.id).addClass('disabled');

                    socket.emit('host_clicked_question_h-s', {
                        'identifier': this.id,
                        'room': '{{ game.room }}'
                    });

                }

                else if (this.className.includes('wager_names')) {
                    socket.emit('final_wagerer_reveal', {
                        'room': '{{ game.room }}',
                        'name': this.id,
                    })

                    $('#' + this.id).addClass('disabled');
                }

                else if (this.className.includes('wagerers')) {
                    socket.emit('final_wagerer_reveal', {
                        'room': '{{ game.room }}',
                        'name': this.id,
                    })

                    $('#' + this.id).addClass('disabled');
                }

                else if (this.id == 'finished_reading') {
                    socket.emit('finished_reading_h-s', {
                        'room': '{{ game.room }}'
                    });

                    $('#correct_answer').addClass('disabled');
                    $('#incorrect_answer').addClass('disabled');
                }

                else if (this.id == 'correct_answer') {
                    socket.emit('correct_answer_h-s', {
                        'room': '{{ game.room }}'
                    });

                    $('#correct_answer').addClass('disabled');
                    $('#incorrect_answer').addClass('disabled');
                }

                else if (this.id == 'incorrect_answer') {
                    socket.emit('incorrect_answer_h-s', {
                        'room': '{{ game.room }}'
                    });

                    $('#player').text('');


                    $('#correct_answer').addClass('disabled');
                    $('#incorrect_answer').addClass('disabled');
                }

                else if (this.id == 'modal_dismiss') {
                    socket.emit('dismiss_modal', {
                        'room': '{{ game.room }}'
                    });
                }

                else if (this.id == 'start_next_round') {
                    socket.emit('start_next_round_h-s', {
                        'room': '{{ game.room }}'
                    });
                }

                else if (this.id == 'get_wagers') {
                    $('#reveal_question').removeClass('disabled');

                    socket.emit('get_wagers', {
                        'room': '{{ game.room }}'
                    });
                }

                else if (this.id == 'reveal_question') {
                    $('#wagerers>button').removeClass('btn-success');
                    $('#wagerers>button').addClass('btn-danger');

                    $('#final_question_answer_reveal').show();

                    socket.emit('reveal_question', {
                        'room': '{{ game.room }}'
                    });
                }

                else if (this.id == 'reveal_answer') {
                    $('#correct_wager').removeClass('disabled');
                    $('#incorrect_wager').removeClass('disabled');

                    socket.emit('reveal_answer', {
                        'room': '{{ game.room }}',
                        'name': $('#wager_round_name').text()
                    });
                }


                else if (this.id == 'correct_wager') {
                    $('#correct_wager').addClass('disabled');
                    $('#incorrect_wager').addClass('disabled');

                    manageModal('wager_category_modal', 'hide');

                    socket.emit('correct_wager', {
                        'room': '{{ game.room }}',
                        'name': $('#wager_round_name').text()
                    });
                }

                else if (this.id == 'incorrect_wager') {
                    $('#correct_wager').addClass('disabled');
                    $('#incorrect_wager').addClass('disabled');

                    manageModal('wager_category_modal', 'hide');

                    socket.emit('incorrect_wager', {
                        'room': '{{ game.room }}',
                        'name': $('#wager_round_name').text()
                    });
                }

                else if (this.id == 'single_correct_answer') {
                    manageModal('single_wager_modal', 'hide');

                    socket.emit('correct_wager', {
                        'room': '{{ game.room }}',
                        'name': $('#single_wagerer').text()
                    });
                }

                else if (this.id == 'single_incorrect_answer') {
                    manageModal('single_wager_modal', 'hide');

                    socket.emit('incorrect_wager', {
                        'room': '{{ game.room }}',
                        'name': $('#single_wagerer').text()
                    });
                }

            }
        });


        socket.on('reveal_standard_question_s-bh', function (message) {
            displayedInModal = '#standard_question';

            manageModal({ action: 'show', updates: message['updates'] });
        });

        socket.on('player_buzzed_s-h', function (message) {
            $('#player').text(message['name']);

            $('#correct_answer').removeClass('disabled');
            $('#incorrect_answer').removeClass('disabled');
        });

        socket.on('clear_modal_s-bh', function (message) {
            $('#player').text('');

            manageModal({ action: 'hide' });
        });

        socket.on('round_complete_s-bh', function (message) {
            displayedInModal = '#round_transition';

            manageModal({ action: 'show', updates: message['updates'] });
        });

        socket.on('next_round_started_s-bh', function (message) {
            start_round();
        });

        socket.on('start_wager_round_s-bh', function (message) {
            displayedInModal = '#wager-start';

            names = message['players'];
            for (name in names) {
                $('#players').append($('<button class="btn btn-success" id="' + names[name] + '">' + names[name] + '</button>'));
            };

            buttons = message['buttons'];
            for (button in buttons) {
                $('#wager_footer').append($('<button class="' + buttons[button] + '" id="' + button.toLowerCase().replace(' ', '_') + '">' + button + '</button>'));
            };

            $('#players').on('click', '.btn', function () {
                for (button in $('#players').children('.btn')) {
                    $(button).attr('disabled', true);
                };

                socket.emit('wager_identified_h-s', {
                    'room': '{{ game.room }}',
                    'name': this.id,
                });

            });

            manageModal({ action: 'show' });


        });

        socket.on('wagerer_received', function (message) {
            $('#' + message['name'] + '_wagered').removeClass('btn-danger');
            $('#' + message['name'] + '_wagered').addClass('btn-success');
        });

        socket.on('final_wager_received', function (message) {
            $('#wager_answer_holder').collapse('hide');

            $('#wager_round_name').text(message['name']);
            $('#wager_round_amount').text(message['wager']);
            $('#wager_round_answer').text(message['answer']);

            alert('Doing somethign with wager_category');

            manageModal('wager_category_modal', 'show');
        });

        socket.on('reveal_wager_answer', function (message) {
            $('#wager_answer_holder').collapse('show');
        });


        function start_round() {
            $("<form method='POST' action='" + document.URL + "'><input type='hidden' name='room' value='{{ game.room }}'/></form>").appendTo("body").submit();
        };

    </script>
</body>

</html>