<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ copyright_protection }} - Python/WebSocket Trivia!</title>

    {% include "scripts.html" %}

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% include "header.html" %}
                <div class="jumbotron card card-block">
                    <h2>
                        Time to be a Host!
                    </h2>
                    <hr>
                    {% for width in range(2) %}
                        <div id="categories" class="{% if width == 0 %}d-none d-md-block{% elif width == 1 %}d-md-none{% endif %}">
                            <div class="{% if width == 0 %}btn-group{% elif width == 1 %}btn-group-vertical{% endif %}" role="group">
                                {% for name in game.board.categories %}
                                    <div class="btn-group{% if width == 1 %} dropright{% endif %}" role="group">
                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="c_{{ name.index }}" aria-haspopup="true" aria-expanded="false">
                                            {{ name.category }}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="c_{{ name.index }}">
                                            {% for question in name.questions %}
                                                <button class="dropdown-item show-question{% if question.shown %} disabled{% endif %}" type="button" id="q_{{ question.id() }}">
                                                    {{ currency }}{{ question.value }}
                                                </button>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                 <div class="modal fade" id="ModalQuestion" tabindex="-1" role="dialog" aria-labelledby="ModalQuestionHolder" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3 class="modal-title" id="ModalQuestionHolder">Question:</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body" id="question">
                      </div>
                      <div class="modal-body" id="answer">
                      </div>
                      <div class="modal-footer" id="question_footer">
                            <p id="player">
                            </p>
                            <button type="button" class="btn btn-success" id="finished_reading">Finished Reading!</button>
                        </div>
                    </div>
                  </div>
                </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('button').click(function(event) {
            if (this.className.includes('show-question')) {
                socket.emit('question_clicked', {
                    'identifier': this.id,
                    'room': '{{ game.room }}'
                });

                $(this).addClass('disabled');
            }

            else if (this.id == 'finished_reading') {
                socket.emit('finished_reading', {
                    'room': '{{ game.room }}'
                });
            } 
        });

        socket.on('question_revealed', function(message) {
            $('#question').text(message['question']);
            $('#answer').text(message['answer']);

            $('#ModalQuestion').modal('show', {
                focus: true
            });
        });

        socket.on('player_buzzed', function(message) {
            $('#player').text(message['name']);
        });

    </script>
</body>

</html>