<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ game_name }} - Python/WebSocket Trivia!</title>

    {% include "scripts.html" %}
    <script>
        var socket = io('http://' + document.domain + ':' + location.port);

        var type = 'host';
    </script>

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% include "header.html" %}
                <div class="jumbotron card card-block">
                    <h2>
                        Time to be a Host!
                    </h2>
                    <hr>
                    {% if game.round <= 2 %}
                    <!-- Section loaded for the first two rounds. (Regular and Double) -->
                    <div id="categories">
                        <div class="btn-group-vertical role=" group>
                            {% for name in game.board.categories %}
                            <div class="btn-group dropright" role="group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                    id="c_{{ name.index }}" aria-haspopup="true" aria-expanded="false">
                                    {{ name.category }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="c_{{ name.index }}">
                                    {% for question in name.questions %}
                                    <button
                                        class="dropdown-item show-question {% if question.shown %}disabled{% endif %}"
                                        type="button" id="q_{{ question.id() }}">
                                        {{ currency }}{{ question.value }}
                                    </button>
                                    {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="modal fade" id="master-modal" tabindex="-1" role="dialog"
                        aria-labelledby="master-modal-holder" aria-hidden="true" data-keyboard="false"
                        data-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content" id="standard_question" style="display: none;">
                                <div id="modal-text">
                                    <div class="modal-custom">Question:</div>
                                    <div class="modal-body" id="question"></div>
                                    <div class="modal-custom">Answer:</div>
                                    <div class="modal-body" id="answer"></div>
                                </div>
                                <div class="modal-footer" id="question_footer">
                                    <div class="btn-toolbar" role="toolbar">
                                        <div class="btn-group" role="group">
                                            <button class="btn btn-light disabled mr-auto"
                                                id="player">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                            <button class="btn btn-success disabled mr-auto"
                                                id="correct_answer">Correct!</button>
                                            <button class="btn btn-danger disabled mr-auto"
                                                id="incorrect_answer">Incorrect</button>
                                            <button class="btn btn-dark mr-auto" id="finished_reading">Finished
                                                Reading!</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-content" id="round_transition" style="display: none;">
                                <div id="modal-text">
                                    <div class="modal-custom">Round Complete!</div>
                                    <div class="modal-body">
                                        Congratulations on finishing <span id="current_round"></span> Are you ready to
                                        start <span id="next_round"></span>?
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-success mr-auto" id="start_next_round">Start the next
                                        round!</button>
                                </div>
                            </div>
                            <div class="modal-content" id="wager_round" style="display: none;">
                                <div class="modal-text">
                                    <div class="modal-custom centered">{{ game.heading() }}</div>
                                    <div id="show_-1">
                                        <div class="modal-custom small">Who chose the category?</div>
                                        <div class="btn-toolbar" role="toolbar" style="padding: 16px;">
                                            <div class="btn-group" role="group" id="players">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="show_0" style="display: none;">
                                        <div class="modal-custom">
                                            <div>Question:</div>
                                            <div id="wager_question" class="smaller"></div>
                                        </div>
                                        <div class="modal-custom">
                                            <div>Answer:</div>
                                            <div id="wager_answer" class="smaller"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <div class="btn-toolbar" role="toolbar">
                                                <div class="btn-group" role="group" id='wager_footer'>
                                                    <button class="btn btn-success mr-auto"
                                                        id="correct_wager">Correct</button>
                                                    <button class="btn btn-danger mr-auto"
                                                        id="incorrect_wager">Incorrect</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <!-- Section loaded for the wagering rounds. (Final and Tiebreaker) -->
                    <div>
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group" role="group" id="wagerers">
                                {% for name in game.score.keys() %}
                                <button class="btn btn-danger wager_names" id="{{ name }}_wagered">{{ name }}</button>
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                            <hr>
                            <h4>
                                CATEGORY:
                            </h4>
                            <h5 style="padding-left: 25px">{{ game.board.categories[0].category }}</h5>
                            <hr>
                            <div class="btn-toolbar" role="toolbar" id="hide_0">
                                <div class="btn-group mr-2" role="group">
                                    <button class="btn btn-success" id="get_wager">Prompt for Wagers</button>
                                </div>
                            </div>
                            <div id="show_0" style="display: none;">
                                <h4>
                                    QUESTION:
                                </h4>
                                <h5 style="padding-left: 25px">{{ game.board.categories[0].questions[0].question }}</h5>
                                <hr>
                                <div class="btn-toolbar" role="toolbar" id="hide_1">
                                    <div class="btn-group mr-2" role="group">
                                        <button class="btn btn-success" id="get_answers">Prompt for Answers</button>
                                    </div>
                                </div>
                            </div>
                            <div id="show_1" style="display: none;">
                                <h4>
                                    ANSWER:
                                </h4>
                                <h5 style="padding-left: 25px">{{ game.board.categories[0].questions[0].answer }}</h5>
                                <hr>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
    <script type="text/javascript">
        var displayedInModal = null;

        $('button').click(function (event) {
            if (!this.className.includes('disabled')) {
                if (this.className.includes('show-question')) {
                    $('#' + this.id).addClass('disabled');

                    socket.emit('host_clicked_question_h-s', {
                        'identifier': this.id,
                        'room': '{{ game.room }}'
                    });

                    $('#finished_reading').removeClass('disabled');

                    $('#correct_answer').addClass('disabled');
                    $('#incorrect_answer').addClass('disabled');

                }

                else if (this.id == 'finished_reading') {
                    socket.emit('finished_reading_h-s', {
                        'room': '{{ game.room }}'
                    });

                    $('#finished_reading').addClass('disabled');
                }

                else if (this.id.endsWith('correct_answer')) {
                    if (this.id == 'incorrect_answer') {
                        $('#player').text('');

                        $('#correct_answer').addClass('disabled');
                        $('#incorrect_answer').addClass('disabled');

                    }

                    socket.emit('question_answered_h-s', {
                        'room': '{{ game.room }}',
                        'correct': this.id == 'correct_answer'
                    })
                }

                else if (this.id.endsWith('correct_wager')) {
                    manageModal({ action: 'hide' });

                    socket.emit('wager_answered_h-s', {
                        'room': '{{ game.room }}',
                        'correct': this.id == 'correct_wager'
                    });
                }

                else if (this.id == 'start_next_round') {
                    socket.emit('start_next_round_h-s', {
                        'room': '{{ game.room }}'
                    });
                }

                else if (this.id == 'get_wager') {
                    socket.emit('get_wager_h-s', {
                        'room': '{{ game.room }}',
                        'name': null
                    });

                    $('#hide_0').hide();
                }

                else if (this.id == 'get_answers') {
                    socket.emit('get_answers_h-s', {
                        'room': '{{ game.room }}',
                        'name': null
                    });

                    $('#hide_1').hide();
                }
            }
        });


        socket.on('reveal_standard_question_s-bh', function (message) {
            displayedInModal = '#standard_question';

            manageModal({ action: 'show', updates: message['updates'] });
        });

        socket.on('player_buzzed_s-h', function (message) {
            $('#player').text(message['name']);

            $('#correct_answer').removeClass('disabled');
            $('#incorrect_answer').removeClass('disabled');
        });

        socket.on('clear_modal_s-bh', function (message) {
            $('#player').text('');

            manageModal({ action: 'hide' });
        });

        socket.on('round_complete_s-bh', function (message) {
            displayedInModal = '#round_transition';

            manageModal({ action: 'show', updates: message['updates'] });
        });

        socket.on('next_round_started_s-bh', function (message) {
            $("<form method='POST' action='" + document.URL + "'><input type='hidden' name='room' value='{{ game.room }}'/></form>").appendTo("body").submit();
        });

        socket.on('start_wager_round_s-bh', function (message) {
            displayedInModal = '#wager_round';

            names = message['players'];
            for (name in names) {
                $('#players').append($('<button class="btn btn-success" id="' + names[name] + '">' + names[name] + '</button>'));
            };

            $('#players').on('click', '.btn', function () {
                $('#show_-1').toggle();

                socket.emit('get_wager_h-s', {
                    'room': '{{ game.room }}',
                    'name': this.id,
                });

            });

            manageModal({ action: 'show' });
        });

        socket.on('reveal_wager_question_s-bh', function (message) {
            manageModal({ action: 'none', updates: message['updates'] });

            $('#show_0').toggle();
        });

        socket.on('reset_wager_names_s-h', function (message) {
            names = message['players'];
            for (name in names) {
                $('#' + names[name] + '_wagered').toggleClass('btn-danger btn-success');
            }
        });

        socket.on('wager_submitted_s-h', function (message) {
            $('#' + message['updates']['name'] + '_wagered').toggleClass('btn-danger btn-success');
        });

        socket.on('reveal_wager_answer_s-bh', function (message) {
            manageModal({ action: 'none', updates: message['updates'] });

            $('#show_1').toggle();
        });

    </script>
</body>

</html>