<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ copyright_protection }} - Python/WebSocket Trivia!</title>

    {% include "scripts.html" %}

  </head>
  <body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% include "header.html" %}
            <div class="jumbotron card card-block">
                <h2>
                    Hey {{ session['name'] }}!
                </h2>
                <div class="input-group-lg mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Current Score:</span>
                        <span class="input-group-text">{{ currency }}</span>
                        <span class="input-group-text" id="score">{{ game.score[session['name']] }}</span>
                    </div>
                </div>
                <br>
                <div id="buzzer_container">
                    <button id="buzzer" class="btn btn-block btn-danger disabled">BUZZ IN!</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
        socket.on('host_finished_reading', function(message) {
            if !(message['players'].contains("{{ session['name'] }}")) {
                $('#buzzer').removeClass('disabled btn-danger');
                $('#buzzer').addClass('btn-success');
            }
            });

        socket.on('reset_player', function (message) {
            $('#buzzer').removeClass('btn-success');
            $('#buzzer').addClass('disabled btn-danger');
            });

        socket.on('update_scores', function (message) {
            $('#score').text(message['scores']['{{ session['name'] }}']);
        });

        $('button').click(function(event) {
            if (this.id == 'buzzer') {
                socket.emit('buzzed_in', {
                    'room': '{{ game.room }}',
                    'name': '{{ session['name'] }}'
                });
            } 
        });
</script>
</body>
</html>