.btn.btn-primary.dropdown-toggle {
    border-top-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}

div.modal-custom {
    padding: 16px;
    font-size: 1.75rem;
}

div.modal-custom.small {
    padding: 0px 16px 0px 16px;
    font-size: 1.5rem;
}
div.modal-custom.centered {
    text-align: center;
}

div.smaller {
    font-size: 1rem;
}

div.tiny {
    font-size: 0.75rem;
}

a.navbar-link {
    font-size: 1.25rem;
}

.spaced {
    margin: 2px;
}